################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HepsiBurada.MarsRover
/HepsiBurada.MarsRover/obj
/HepsiBurada.MarsRover/bin
